<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
	<title>
		My Profile | Homework Master
	</title>
</head>

<body>
	<a href="/guilds/<%= guild.name.replace(/ /g, '_') %>/members/<%= name.replace(/ /g, '_') %>">View Profile</a>
	<div class="header">
		<h1>
			<img src="<%= member.user.avatarURL %>" class="profilePic"></img>
			<div id="usernameContainer">
				<%= name%>
			</div>
		</h1>
	</div>
	<div class="content">
		<div class="post">
			<div class="title">Features to come here.</div>
			<div class="message">
				<h4>My ideas:</h4>
				Customise Bio<br>
				Customise Timetable<br>
				Reset password<br>
				Background colour
			</div>
		</div>
	</div>
	<button class="important-link delete-account-modal delete-button">Delete This Account.</button>

	<% include ../partials/menu %>

	<div id="delete-account-modal" class="modal">
		<div class="modal-content slide-down">
			<div>
				<h4>Are you sure?</h4>
				<p>
				You will be kicked from <%= guild.name%> on discord and your classes will be wiped. Any ranks achieved will also be removed.
				</p>
			</div>
			<span class="close">&times;</span>
			<button class="link" onclick="deleteAccount()">I understand and would like to continue.</button>
		</div>
	</div>

	<script src="/js/my_profile.js"></script>
	<script src="/js/index.js"></script>
</body>

</html>