<!DOCTYPE html>
<html>

<% title = 'Me' %>
<% include ../partials/head %>

<body>
	<a href="/guilds/<%= guild.name.replace(/ /g, '_') %>/members/<%= session.member.displayName.replace(/ /g, '_') %>">View Profile</a>
	<div class="header">
		<h1>
			<img src="<%= member.user.avatarURL %>" class="profilePic" title="Your Discord Profile Picture"></img>
			<input name="username" form="update-profile" type="text" id="usernameContainer" value="<%= session.member.displayName%>" placeholder="<%= member.user.username%>" title="Your Username">
		</h1>
	</div>
	<div class="content">
		<div class="post">
				<div class="title">Set Bio</div>
				<textarea name="bio" type="text" class="full-width" 
			placeholder="Tell everyone something wonderful. 
Markdown is supported!" form="update-profile" rows="<%= userData.bio ? userData.bio.split('\n').length : 5 %>" maxlength="500" title="Your Bio"><%= userData.bio%></textarea>
		</div>

		<div class="post">
			<div class="title">Features to come here.</div>
			<div class="message">
				<h4>My ideas:</h4>
				Customise Timetable<br>
				Reset password<br>
				Background colour
			</div>
		</div>

	</div>

	<form id="update-profile" method="POST" style="padding:0;display:block">
		<input type="submit" value="Save Changes" class="full-width accept-button">
	</form>
	
	<button class="important-link delete-account-modal delete-button">Delete This Account.</button>

	<% include ../partials/menu %>

	<div id="delete-account-modal" class="modal">
		<div class="modal-content slide-down">
			<form method="DELETE" id="delete-account-form">
				<h4>Are you sure?</h4>
				<p>
				You will be kicked from <%= guild.name%> on discord and your classes will be wiped. Any ranks achieved will also be removed.
				</p>
			</form>
			<span class="close">&times;</span>
			<input type="submit" class="delete-button" form="delete-account-form" value="I understand and would like to continue.">
		</div>
	</div>

	<script src="/js/my_profile.js"></script>
	<script src="/js/index.js"></script>
</body>

</html>