<form method="post" id="signup">
	<span>&check; Your discord:</span>
	<span><img src="<%= member.user.avatarURL %>" class="profilePic"></img><%= member.user.tag%></span>
	<label for="nickname">Your Name: 
		<span class="error"><%= query.nameerror %></span>
	</label>
	<input type="text" name="nickname" id="nickname" placeholder="<%= member.displayName%>">

	<label for="newpassword">New Password:
		<span class="error"></span>
	</label>
	<input type="password" name="newpassword" id="newpassword" onchange="check('newpassword')" placeholder="make it secure!">

	<label for="checkPassword">Check Password:
		<span class="error"></span>
	</label>
	<input type="password" name="checkPassword" id="checkPassword" onchange="check('checkPassword')">
	<input type="hidden" name="guild" value="<%= guild%>">
	<input type="hidden" name="member" value="<%= member%>">
	<input type="hidden" name="password" id="password" value="<%= query.password%>" placeholder="(sent by the bot in DM)">
	<br>
	<input type="button" value="OK" onclick="signup('signup')">
</form>